.center {
    display: flex;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.game {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "board info";

  grid-gap: 2px;
}

.title {
  grid-area: title;

  font-size: 2em;
  text-align: center;
}

.info {
  grid-area: info;

  display: flex;
  flex-direction: column;

  padding: 10px;

  align-items: center;
  font-size: 1.5em;
}

.history {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 200px;

  font-size: 0.7em;

  overflow-x: hidden;
  overflow-y: auto;
  border: 1px inset white;
}
.history div {
  width: 100%;
  text-align: center;
}
.history div:nth-child(2n+1){
  background-color: rgba(255, 255, 255, 0.1);
}
.history div:nth-child(2n){
  background-color: rgba(255, 255, 255, 0.2);
}

.board {
  grid-area: board;

  display: grid;

  width: 400px;
  height: 400px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.field {
  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid white;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: grey;
}
